# Volume 3: Pandas 1 (Introduction)
    <Name>JEAN PHILIP L JUACHON
    <Class>
    <Date>AUGUST 8 2019

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

%matplotlib inline

## Problem 1
Read in the file *crime_data.csv* into a pandas object. The file contains data on types of crimes in the U.S. from 1960 to 2016. Set the index as the column *Year*.

Create a new column 'Rate' which has the crime rate for each year. Use this table to answer the following questions:

1) What is the mean crime rate? In what years was the crime rate above the mean? 4.23694, 1974-1999

2) On average, using the mean, what is the least common crime? Murder(1.728940e+04)

3) Identify two crimes which have close means. Do these two crimes have any kind of correlation from year to year? If so, what is this correlation?
    Vehicle Theft and Violent

In [2]:
crime = pd.read_csv("crime_data.csv", index_col='Year')
crime['crimeRate'] = crime['Total'] / crime['Population'] *1000
mean_crimeRate = np.mean(crime['crimeRate'])
crime['Mean'] = mean_crimeRate #4.23694

crime_is_higher = crime['crimeRate'] > crime['Mean']
higher_than_mean = crime[crime_is_higher] #1974-1999

crime.mean().sort_values(ascending = True)

crime.corr()
#print("Question 3: Identify two crimes which have close means.\t"
 #     "Do these two crimes have any kind of correlation from year to year? If so, what is this correlation?\n"
  #    "The crimes with the closest means are Vehicle Theft and Violent")

,Population,Total,Violent,Property,Murder,Forcible Rape,Robbery,Aggravated Assault,Burglary,Larceny,Vehicle Theft,crimeRate,Mean
Population,1.000000,4.780903e-01,6.350233e-01,4.465598e-01,1.670529e-01,7.782234e-01,3.283683e-01,7.260890e-01,1.248607e-02,6.033159e-01,3.015274e-01,2.237307e-02,0.000000e+00
Total,0.478090,1.000000e+00,9.523797e-01,9.986631e-01,8.860269e-01,9.042325e-01,9.654359e-01,8.870279e-01,8.188917e-01,9.853605e-01,9.111626e-01,8.823892e-01,1.369464e-16
Violent,0.635023,9.523797e-01,1.000000e+00,9.354153e-01,7.936088e-01,9.678147e-01,9.104926e-01,9.804755e-01,6.239479e-01,9.730672e-01,8.934817e-01,7.285336e-01,4.288623e-16
Property,0.446560,9.986631e-01,9.354153e-01,1.000000e+00,8.935756e-01,8.848734e-01,9.657088e-01,8.629162e-01,8.440659e-01,9.781577e-01,9.061165e-01,9.003426e-01,6.342522e-16
Murder,0.167053,8.860269e-01,7.936088e-01,8.935756e-01,1.000000e+00,6.872511e-01,9.572605e-01,6.648642e-01,9.034919e-01,8.060684e-01,8.508581e-01,9.377700e-01,-3.683052e-16
Forcible Rape,0.778223,9.042325e-01,9.678147e-01,8.848734e-01,6.872511e-01,1.000000e+00,8.191651e-01,9.717877e-01,5.367624e-01,9.532607e-01,7.860670e-01,6.081049e-01,8.816959e-16
Robbery,0.328368,9.654359e-01,9.104926e-01,9.657088e-01,9.572605e-01,8.191651e-01,1.000000e+00,8.131077e-01,8.619176e-01,9.178742e-01,9.166330e-01,9.229027e-01,1.108619e-16
Aggravated Assault,0.726089,8.870279e-01,9.804755e-01,8.629162e-01,6.648642e-01,9.717877e-01,8.131077e-01,1.000000e+00,4.707669e-01,9.375434e-01,8.367461e-01,5.954169e-01,-5.588065e-16
Burglary,0.012486,8.188917e-01,6.239479e-01,8.440659e-01,9.034919e-01,5.367624e-01,8.619176e-01,4.707669e-01,1.000000e+00,7.220563e-01,6.995492e-01,9.573988e-01,9.016364e-17
Larceny,0.603316,9.853605e-01,9.730672e-01,9.781577e-01,8.060684e-01,9.532607e-01,9.178742e-01,9.375434e-01,7.220563e-01,1.000000e+00,8.787130e-01,7.951222e-01,-2.271877e-16
Vehicle Theft,0.301527,9.111626e-01,8.934817e-01,9.061165e-01,8.508581e-01,7.860670e-01,9.166330e-01,8.367461e-01,6.995492e-01,8.787130e-01,1.000000e+00,8.470970e-01,4.556976e-16
crimeRate,0.022373,8.823892e-01,7.285336e-01,9.003426e-01,9.377700e-01,6.081049e-01,9.229027e-01,5.954169e-01,9.573988e-01,7.951222e-01,8.470970e-01,1.000000e+00,2.172859e-16
Mean,0.000000,1.369464e-16,4.288623e-16,6.342522e-16,-3.683052e-16,8.816959e-16,1.108619e-16,-5.588065e-16,9.016364e-17,-2.271877e-16,4.556976e-16,2.172859e-16,1.000000e+00

## Problem 2
Answer the following questions using the pandas numerical methods. Support your answers with data from the file.

1) In what year did each crime hit an all-time high in the U.S.? In what year did the majority of crimes hit an all-time high?
    Property, Murder, Roberry, Larceny, Vehicle Theft = 1991
    Violent and Forcible Rape (1992), Aggravated Assault 1993, Burglary 1980.
    Majority of crimes hit an all time high: 1991
        
2) Which decade had the greatest amount of total crime?
    1999
    
3) During this decade, which crime was commited most, and what percent of the total crime was it?
    Property, 87%

In [3]:
for i in crime.columns:
    print(i ,crime[i].idxmax(), crime[i].max())
    
crime['Year2'] = np.array(crime.index).astype(str)
crime['decade'] = crime.loc[:,'Year2'].str[2]
crime.groupby('decade').sum()

Population 2016 323127513
Total 1991 14872900
Violent 1992 1932270
Property 1991 12961100
Murder 1991 24700
Forcible Rape 1992 109060
Robbery 1991 687730
Aggravated Assault 1993 1135610
Burglary 1980 3795200
Larceny 1991 8142200
Vehicle Theft 1991 1661700
crimeRate 1980 59.50008339055414
Mean 1960 42.36939729496591

,Population,Total,Violent,Property,Murder,Forcible Rape,Robbery,Aggravated Assault,Burglary,Larceny,Vehicle Theft,crimeRate,Mean
decade,,,,,,,,,,,,,
0,2947969117,115012044,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834,390.697508,423.693973
1,2214220783,68547737,8577456,59970281,105915,608873,2407219,5321004,13211177,41714199,5044903,216.899707,296.585781
6,1915053175,49295900,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100,255.411928,423.693973
7,2121193298,100991600,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900,474.847619,423.693973
8,2371370069,131123369,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411,553.080081,423.693973
9,2612825258,136582146,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418,524.118803,423.693973

## Problem 3
Using panda commands, find the crime rates of the years where Property crimes were less than 90% of the total crime and burglary crimes were more than 20% of the total crime or property crimes were less than 90% of the total crime while violent crimes were more than 12% of the total crime.

In [4]:
#crime[crime['Property'] < crime['Total'] *.9]
crime.loc[(crime['Property'] < crime['Total'] *.9) & (crime['Burglary'] > crime['Total']*.2) | 
          (crime['Property'] < crime['Total'] *.9) & (crime['Violent'] < crime['Total'] *.12)]

,Population,Total,Violent,Property,Murder,Forcible Rape,Robbery,Aggravated Assault,Burglary,Larceny,Vehicle Theft,crimeRate,Mean,Year2,decade
Year,,,,,,,,,,,,,,,
1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200,39.613888,42.369397,1972,7
1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800,41.544239,42.369397,1973,7
1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700,59.500083,42.369397,1980,8
1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800,58.581865,42.369397,1981,8
1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400,56.036694,42.369397,1982,8
1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900,51.750356,42.369397,1983,8
1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200,50.312926,42.369397,1984,8
1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900,52.070872,42.369397,1985,8
1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137,55.018990,42.369397,1986,8
1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674,55.755891,42.369397,1987,8
1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900,56.642406,42.369397,1988,8
1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800,57.409996,42.369397,1989,8
1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900,58.202756,42.369397,1990,9
1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700,58.978019,42.369397,1991,9
1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800,56.602191,42.369397,1992,9
1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100,54.844363,42.369397,1993,9
2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646,41.250103,42.369397,2002,0
2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226,40.684255,42.369397,2003,0
2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851,39.772525,42.369397,2004,0
2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652,35.057741,42.369397,2009,0
2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565,33.504237,42.369397,2010,1
2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508,32.924182,42.369397,2011,1
2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186,32.557871,42.369397,2012,1

## Problem 4
Read in the files *final_accidents2.pickle* and *final_drivers.pickle* using the function *read_pickle()*.  
The accidents file contains data on various accidents that occurred in the U.S. and their causes.
The drivers data has data on various tickets given to drivers, how many tickets given, and what the ticket is for.

Create a dataframe containing case number, age, and fatalities using an inner join operation on the Case Number. In this dataframe, also include the speed column from each dataframe.
Create a second dataframe using an outer join.

Use these dataframe to answer the following questions. Make sure to support your claims with appropriate and presentable data.

1. What is the most common kind of weather involved with accidents?

2. How many accidents involved speeding?

3. What is the most common type of speeding in accidents?

4. Rounding to the nearest integer, what is the mean number of drunk drivers involved in each accident?

5. What is the mean number of fatalities per accident each year?

6. What month has the most fatalities each year?

In [5]:
accidents = pd.read_pickle("final_accidents2.pickle")
drivers = pd.read_pickle("final_drivers.pickle")

In [6]:
accidents.head()

,ST_CASE,STATE,LATITUDE,LONGITUD,HOUR,DAY,MONTH,YEAR,DRUNK_DR,WEATHER,SP,FATALS
0,10001,1,32.641064,-85.354692,4,15,1,2010,1,1,0,1
1,10002,1,31.430447,-86.956694,6,11,1,2010,0,1,0,1
2,10003,1,30.691631,-88.085778,15,14,1,2010,0,1,1,1
3,10004,1,33.868700,-86.291164,1,21,1,2010,0,2,0,1
4,10005,1,33.309742,-86.787222,6,4,1,2010,0,1,0,1

In [7]:
drivers.head()

   ST_CASE  VEH_NO  AGE  DRINKING  SPEEDREL  YEAR
0    10001       1   51         9         0  2010
2    10002       1   44         0         0  2010
3    10003       1   27         9         1  2010
4    10003       2   45         0         0  2010
5    10003       3   28         0         0  2010

In [8]:
df1 = pd.merge(accidents, drivers, on = 'ST_CASE')[['ST_CASE','AGE','FATALS', "SP", "SPEEDREL", "VEH_NO"]].dropna()
df1
df2 = pd.merge(accidents, drivers, on = ['ST_CASE','YEAR'], how = 'outer').dropna()

In [10]:
df2["WEATHER"].mode()[0]

1.0

In [11]:
sprel = df2.groupby(["YEAR", "ST_CASE"]).max()
sprel.SP[sprel.SP == 1].count()

43778

In [12]:
df1.SPEEDREL[(df1.SPEEDREL > 1) & (df1.SPEEDREL <7)].mode()[0]

4

In [13]:
round(df2.DRUNK_DR.mean())

0

In [14]:
prob5 = df2.groupby(["YEAR", "ST_CASE"]).mean()
prob5.groupby(["YEAR"])["FATALS"].mean()

YEAR
2010    1.089397
2011    1.087515
2012    1.089672
2013    1.089339
2014    1.089513
Name: FATALS, dtype: float64

In [33]:
prob5_for_prob6 = pd.DataFrame(prob5.groupby(["YEAR","MONTH"])["FATALS"].sum())
#prob5_for_prob6
prob6 = prob5_for_prob6.groupby("YEAR").max()
#prob6
prob6["Year-Month"] = prob5_for_prob6.groupby("YEAR").idxmax()
prob6

      FATALS   Year-Month
YEAR
2010  3033.0  (2010, 7.0)
2011  3063.0  (2011, 7.0)
2012  3070.0  (2012, 7.0)
2013  3098.0  (2013, 8.0)
2014  2986.0  (2014, 8.0)